@import url('assets/styles/definições.css');


body {
  background-color: var(--cor-terciaria) !important; 
}
header h1{
  color: aliceblue;
  font-family: 'logo', sans-serif !important;
  font-size: 3.5rem;
}
.img-header{
  max-width: 400px; /* Limite de largura máxima */
  max-height: 400px;
}
.header-projeto{
  background-color: var(--cor-terciaria) !important;
}
.section-title{
  color: var(--cor-terciaria)!important;
}
h2{
  color: var(--cor-terciaria)!important;
}
.card{
  background-color: transparent !important;
  color: var(--cor-terciaria)!important;
  border: none !important;
}

.card-img-top {
  transition: transform 0.3s ease;
}

.btn-outline-primary {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.title-bar .title {

	font-size: 1.3rem !important;
	
}

.tag-icons {
  max-width: 45px; /* Limite de largura máxima */
  max-height: 45px; /* Limite de altura máxima */
}


.footer-projeto{
  background-color: var(--cor-terciaria) !important;
  color: var(--cor-fundo)!important;
 
}
